@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar d-flex flex-column">
        <NavMenu/>
    </div>

    <main class="h-100">
        @* <div class="top-row px-4"> *@
        @*      *@
        @* </div> *@

        <article class="content d-flex flex-column h-100">
            @Body
        </article>
    </main>
    
</div>