<div class="top-row ps-3 navbar navbar-dark pt-2">
    <div class="container-fluid justify-content-center mt-2">
        <a class="navbar-brand fs-2" href="">Odidont</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler mt-2"/>


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @foreach (var page in pages)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@(page.Href)" Match="NavLinkMatch.All">
                    <i class="bi @(page.Icon) fs-5" aria-hidden="true"></i> @(page.Name)
                </NavLink>
            </div>
        }
    </nav>
</div>

@* <nav class="navbar navbar-expand-lg navbar-light"> *@
@*     <div class="container-fluid"> *@
@*         <!-- Navbar brand --> *@
@*         <a class="navbar-brand text-light" href="#"> *@
@*             Odidont *@
@*         </a> *@
@*         <!-- Navbar toggle button --> *@
@*         <button class="navbar-toggler"  *@
@*                 type="button"  *@
@*                 data-bs-toggle="offcanvas"  *@
@*                 data-bs-target="#sidebar" *@
@*                 aria-controls="sidebar"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*         <!-- Top menu in navbar --> *@
@*         <div class="collapse navbar-collapse"  *@
@*              id="navbarSupportedContent"> *@
@*             <ul class="navbar-nav me-auto mb-2 mb-lg-0"> *@
@*                 <li class="nav-item px-3"> *@
@*                     <NavLink class="nav-link active text-light" href="" Match="NavLinkMatch.All"> *@
@*                         <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
@*                     </NavLink> *@
@*                 </li> *@
@*                 <li class="nav-item px-3"> *@
@*                     <NavLink class="nav-link text-light" href="counter"> *@
@*                         <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter *@
@*                     </NavLink> *@
@*                 </li> *@
@*                 <li class="nav-item px-3"> *@
@*                     <NavLink class="nav-link text-light" href="weather"> *@
@*                         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
@*                     </NavLink> *@
@*                 </li> *@
@*             </ul> *@
@*         </div> *@
@*     </div> *@
@* </nav> *@

@* <nav class="navbar navbar-expand-lg"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="#">Odidont</a> *@
@*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerControl" aria-controls="navbarTogglerControl" aria-expanded="false" aria-label="Toggle navigation"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*         <div class="collapse navbar-collapse" id="navbarTogglerControl"> *@
@*             <ul class="navbar-nav me-auto mb-2 mb-lg-0"> *@
@*                 <li class="nav-item"> *@
@*                     <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                         <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
@*                     </NavLink> *@
@*                 </li> *@
@*                 <li class="nav-item"> *@
@*                     <NavLink class="nav-link" href="counter"> *@
@*                         <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter *@
@*                     </NavLink> *@
@*                 </li> *@
@*                 <li class="nav-item"> *@
@*                     <NavLink class="nav-link" href="weather"> *@
@*                         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
@*                     </NavLink> *@
@*                 </li> *@
@*             </ul> *@
@*         </div> *@
@*     </div> *@
@* </nav> *@