@page "/"

<div class="position-relative overflow-hidden p-4 p-md-5 bg-secondary text-bg-secondary text-center">
    <div class="col-6 col-md-auto p-lg-5">
        <h1 class="display-1 text-start text-md-center" style="font-weight: 600 !important;">What is GDPR?</h1>
    </div>
    <a class="btn btn-primary float-end float-md-none" href="learn">Start Learning</a>
</div>

<Divider/>

<div class="position-relative overflow-hidden p-4 p-md-5 bg-tertiary text-bg-tertiary text-center">
    <div class="col-auto p-lg-5 ms-auto ms-md-0">
        <h2 class="display-1 text-end text-md-center" style="font-weight: 500 !important;">Are you GDPR compliant?</h2>
    </div>
    <a class="btn btn-primary float-start float-md-none" href="check">Do the GDPR Check!</a>
</div>

<Divider/>